.bx--data-table td {
  align-items: center;
}

.bx--data-table-header__title {
  height: 10px;
}

.bx--data-table-container{
  padding: top 0px;
}

.bx--data-table--sticky-header {
  max-height: 58vh;
}
.bx--data-table-content {
  height: 100%;
}

.bx--toolbar-content {
  height: 10px;
}
