.bx--tabs--scrollable__nav-item {
  width: 20% !important;
}

.bx--tabs--scrollable__nav {
  height: 50px !important;
  width: 100vw;
}

.bx--tabs--scrollable {
  height: 50px !important;
}

.bx--tab-content {
  height: 40rem;
  padding: 2rem !important;
  position: relative;
}